.gradle/
.kotlin/
.idea/
build/
composeApp/build/
*.iml
.DS_Store
local.properties
keystore.properties
*.jks
*.keystore
composeApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist
supabase/.temp/

# Kotlin/Native and Xcode user-specific files
*.xcuserstate
xcuserdata/
/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
